# Dependencies
node_modules

# Logs
*.log
npm-debug.*
yarn-error.log

# System
.DS_Store

# Build artifacts
dist
web-build
.expo

# IDE/editor configs
.vscode
.idea

# Environment variables
.env
.env.*

# Ensure required configs are always included
!package.json
!app.json
!eas.json
!tsconfig.json
!babel.config.js
!metro.config.js

